/* Home.css */
@import 'font-awesome/css/font-awesome.min.css';

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, darkblue, black);
  height: 100vh;
  margin: 0;
  color: #fff;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(35, 17, 196);
    text-align: left;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1.5s ease-in-out forwards; /* Apply fadeIn animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .home-content {
    max-width: 800px; /* Adjust the maximum width of the content as needed */
  }
  
  img {
    max-width: 150px; /* Adjust the maximum width of the image as needed */
    height: auto;
    float: left; /* Float the image to the left */
    margin-right: 20px; /* Add spacing between the image and the text */
  }
  
  .bank-info {
    flex: 1; /* Allow the bank-info div to take the remaining space */
  }
  
  .home-container h1,
  .home-container p,
  .bank-info {
    margin: 0; /* Remove default margin */
  }
  